<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>在线考试系统 - 管理员</title>
    <script src="../static/xinziyuan/js/jquery-3.3.1.min.js"></script>
    <script src="../static/xinziyuan/js/vue.min.js"></script>
    <script src="../static/xinziyuan/js/vue-resource.min.js"></script>
    <script src="../static/xinziyuan/js/common.js"></script>
    <script src="../static/javascript/global.js"></script>
    <link rel="stylesheet" href="../static/xinziyuan/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/xinziyuan/css/style.css">
    <link rel="stylesheet" href="../static/xinziyuan/css/overdiv.css">
    <link rel="shortcut icon" href="../static/xinziyuan/images/favicon.png"/>
    <script>
        function add_user() {
            let uname = document.getElementById('input-name').value;
            let id = document.getElementById('input-id').value;
            let pwd = document.getElementById('input-pwd').value;
            let email = document.getElementById('input-email').value;
            let role = $("#input-role option:selected").text();
            if (role === '教师用户') {
                role = 'TEACHER';
            } else {
                role = 'STUDENT';
            }
            {#alert('添加成功！');#}
            {#window.location.href = base_url_str + '/admin_add_user/?uname=' + uname + '&id=' + id + '&pwd=' + pwd + '&role=' + role + '&email=' + email;#}
            $.ajax({
                url: base_url_str + '/admin_add_user/',
                type: 'post',
                async: true,
                data: {
                    'uname': uname,
                    'id': id,
                    'pwd': pwd,
                    'email': email,
                    'role': role
                },
                success: function (data) {
                    if (data['success'] === 1) {
                        alert('添加成功！');
                        window.location.reload();
                    } else {
                        alert('添加失败，该 ID 已存在！');
                        window.location.reload();
                    }
                }
            })
        }
    </script>
</head>

<body class="content-wrapper">
<div class="float_top">
    <button class="btn btn-inverse-info btn-sm" onclick="javascript:smoothscroll();"><i
            class="mdi mdi-format-vertical-align-top"></i> 返回顶部
    </button>
</div>

<div id="usermanage">
    <div class="page-header">
        <h1>添加用户</h1>
    </div>

    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">创建用户</h3>
                    <p class="card-description">请在下面输入用户名和密码，并选定用户角色</p>
                    <form class="forms-sample">
                        <div class="form-group">
                            <label for="exampleInputUsername2">用户名</label>
                            <input class="form-control" type="text" id="input-name" placeholder="输入用户名...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername2">用户ID</label>
                            <input class="form-control" type="text" id="input-id" placeholder="输入用户ID...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername2">密码</label>
                            <input class="form-control" type="text" id="input-pwd" placeholder="输入密码...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername2">邮箱</label>
                            <input class="form-control" type="text" id="input-email" placeholder="输入用户邮箱...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername2">角色</label>
                            <select v-model="usertype" name="usertype" class="form-control" id="input-role">
                                <option value="">选择一个用户角色</option>
                                <option value="teacher">教师用户</option>
                                <option value="student">学生用户</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-gradient-success" onclick="add_user()"/>
                        添加用户</button>
                        <button type="reset" class="btn btn-gradient-warning" oclick="reset_form()"/>
                        清空输入</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">批量导入用户</h3>
                    <p class="card-description">请下载 Excel 模板填写后上传：<a
                            href="../static/xinziyuan/files/upload-users-template.xls">下载模板</a></p>
                    </p>
                    <p>
                        请按照表格内提示准确填写，不要修改模板中表格结构。
                    </p>
                    <form method="post" action="{{ url_for('admin_add_users_by_file') }}" enctype="multipart/form-data">
                        <p><input type="file" name="upload_userlist" id="upload_userlist" class="form-control"></p>
                        <p><button type="submit" class="btn btn-gradient-primary btn-fw">上传</button></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/xinziyuan/js/admin-create.js"></script>

</body>
</html>