<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>在线考试系统 - 管理员</title>
  <script src="../static/xinziyuan/js/jquery-3.3.1.min.js"></script>
  <script src="../static/xinziyuan/js/vue.min.js"></script>
  <script src="../static/xinziyuan/js/vue-resource.min.js"></script>
  <script src="../static/xinziyuan/js/common.js"></script>
  <script src="../static/xinziyuan/backend.js"></script>
  <script type="text/javascript" src="../static/javascript/admin.js"></script>
  <link rel="stylesheet" href="../static/xinziyuan/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../static/xinziyuan/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../static/xinziyuan/css/style.css">
  <link rel="stylesheet" href="../static/xinziyuan/css/overdiv.css">
  <link rel="shortcut icon" href="../static/xinziyuan/images/favicon.png" />
</head>

<body class="content-wrapper">
<div class="float_top">
  <button class="btn btn-inverse-info btn-sm" onclick="javascript:smoothscroll();"><i class="mdi mdi-format-vertical-align-top"></i> 返回顶部</button>
</div>

<div id="usermanage">
  <div class="page-header">
    <h1>试卷列表</h1>
  </div>

  <div class="card">
  <div class="card-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>试卷编号</th>
        <th>试卷名称</th>
        <th>发起人</th>
        <th>考试日期</th>
        <th>考试时间</th>
        <th>考试班级</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for exam in exam_list %}
      <tr>
        <td>{{ exam.exam_id }}</td>
        <td><a href="{{ url_for('previwe_paper', exam_id=exam.exam_id, user_id=exam.exam_userid) }}">{{ exam.exam_title }}</a></td>
        <td>{{ exam.exam_userid }} - {{ exam.teacher }}</td>
        <td>{{ exam.exam_date }}</td>
        <td>{{ exam.exam_duration }}</td>
        <td>{{ exam.exam_class }}</td>
        <td><button class="btn btn-danger" id="paper-delete" onclick="deleteE({{ exam.exam_id }})">删除</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
</div>

<script type="text/javascript" src="../static/xinziyuan/js/admin-userlist.js"></script>
<script type="text/javascript" src="../static/javascript/admin.js"></script>

</body>
</html>