<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>在线考试系统 - 管理员</title>
    <script src="../static/xinziyuan/js/jquery-3.3.1.min.js"></script>
    <script src="../static/xinziyuan/js/vue.min.js"></script>
    <script src="../static/xinziyuan/js/vue-resource.min.js"></script>
    <script src="../static/xinziyuan/js/common.js"></script>
    <script src="../static/javascript/global.js"></script>
    <link rel="stylesheet" href="../static/xinziyuan/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/xinziyuan/css/style.css">
    <link rel="stylesheet" href="../static/xinziyuan/css/overdiv.css">
    <link rel="shortcut icon" href="../static/xinziyuan/images/favicon.png"/>
</head>

<body class="content-wrapper">
<div class="float_top">
    <button class="btn btn-inverse-info btn-sm" onclick="javascript:smoothscroll();"><i
            class="mdi mdi-format-vertical-align-top"></i> 返回顶部
    </button>
</div>

<div id="usermanage">
    <div class="page-header">
        <h1>增加题目</h1>
    </div>

    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">新增单个题目</h3>
                    <p class="card-description">请选择要添加的题目。</p>

                    <form class="forms-sample">
                        <div class="form-group">
                            <button class="btn btn-gradient-primary" id='choice-button' onclick="choiceModal()">增加选择题
                            </button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-gradient-primary" id='judge-button' onclick="judgeModal()">增加判断题
                            </button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-gradient-primary" id='subjective-button' onclick="subjectiveModal()">
                                增加主观题
                            </button>
                        </div>

                        <div class="modal fade" tabindex="-1" role="dialog" id="choice-modal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">增加选择题</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class='needs-validation' novalidate id="choice-type">
                                            <div class="form-group">
                                                <label for="question">题目</label>
                                                <input type="text" class="form-control" id="choice_q"
                                                       aria-describedby=""
                                                       placeholder="题目" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="score">分数</label>
                                                <input type="text" class="form-control" id="choice_value"
                                                       requiredpattern="[0-9]">
                                            </div>
                                            <div class="form-group">
                                                <label for="ans">答案</label>
                                                <input type="text" class="form-control" id="choice_ans">
                                            </div>
                                            <div class="form-group">
                                                <label for="optA">选项1</label>
                                                <input type="text" class="form-control" id="q_A">
                                            </div>
                                            <div class="form-group">
                                                <label for="optB">选项2</label>
                                                <input type="text" class="form-control" id="q_B">
                                            </div>
                                            <div class="form-group">
                                                <label for="optC">选项3</label>
                                                <input type="text" class="form-control" id="q_C">
                                            </div>
                                            <div class="form-group">
                                                <label for="optD">选项4</label>
                                                <input type="text" class="form-control" id="q_D">
                                            </div>
                                            <div class="form-group">
                                                <label for="diff">难度</label>
                                                <input type="text" class="form-control" id="choice_diff">
                                            </div>
                                            <div class="form-group">
                                                <label for="q-class">科目</label>
                                                <input type="text" class="form-control" id="choice_class">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" onclick="add_xuanze()">增加</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--判断题-->
                        <div class="modal fade" tabindex="-1" role="dialog" id="judge-modal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">增加判断题</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class='needs-validation' novalidate id="judge-type">
                                            <div class="form-group">
                                                <label for="question">题目</label>
                                                <input type="text" class="form-control" id="judge_q" aria-describedby=""
                                                       placeholder="题目" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="score">分数</label>
                                                <input type="text" class="form-control" id="judge_value"
                                                       requiredpattern="[0-9]">
                                            </div>
                                            <div class="form-group">
                                                <label for="ans">答案</label>
                                                <input type="text" class="form-control" id="judge_ans">
                                            </div>
                                            <div class="form-group">
                                                <label for="diff">难度</label>
                                                <input type="text" class="form-control" id="judge_diff">
                                            </div>
                                            <div class="form-group">
                                                <label for="judge_class">科目</label>
                                                <input type="text" class="form-control" id="judge_class">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" onclick="add_judge()">增加</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---->
                        <div class="modal fade" tabindex="-1" role="dialog" id="subjective-modal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">增加主观题</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class='needs-validation' novalidate id="subjective-type">
                                            <div class="form-group">
                                                <label for="question">题目</label>
                                                <input type="text" class="form-control" id="subj_q" aria-describedby=""
                                                       placeholder="题目" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="score">分数</label>
                                                <input type="text" class="form-control" id="subj_value"
                                                       requiredpattern="[0-9]">
                                            </div>
                                            <div class="form-group">
                                                <label for="ans">答案</label>
                                                <input type="text" class="form-control" id="subj_ans">
                                            </div>
                                            <div class="form-group">
                                                <label for="diff">难度</label>
                                                <input type="text" class="form-control" id="subj_diff">
                                            </div>
                                            <div class="form-group">
                                                <label for="subj_class">科目</label>
                                                <input type="text" class="form-control" id="subj_class">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" onclick="add_subj()">增加</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">批量导入题目</h3>
                    <p class="card-description">请下载 Excel 模板填写后上传：<a
                            href="../static/xinziyuan/files/upload-problem-template.xls">下载模板</a></p>
                    </p>
                    <p>
                        请按照表格内提示准确填写，不要修改模板中表格结构。
                    </p>
                    <form method="post" action="{{ url_for('admin_add_questions_by_file') }}"
                          enctype="multipart/form-data">
                        <p><input type="file" name="upload_questions_file" id="upload_questions_file"
                                  class="form-control"></p>
                        <p>请输入科目：<input type="text" name="input-q-type" id="input-q-type"></p>
                        <p>
                            <button type="submit" class="btn btn-gradient-primary btn-fw">上传</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="../static/xinziyuan/js/admin-create.js"></script>
<!-- JavaScript files-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/popper.js/umd/popper.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
<script src="../static/vendor/jquery.cookie/jquery.cookie.js"></script>
<script src="../static/vendor/chart.js/Chart.min.js"></script>
<script src="../static/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="../static/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../static/js/charts-home.js"></script>
<!-- Main File-->
<script src="../static/js/front.js"></script>
<script src="../static/javascript/global.js"></script>
<script type="text/javascript" src="../static/javascript/admin.js"></script>
</body>
</html>