<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>在线考试系统 - 管理员</title>
  <script src="../static/xinziyuan/js/jquery-3.3.1.min.js"></script>
  <script src="../static/xinziyuan/js/vue.min.js"></script>
  <script src="../static/xinziyuan/js/vue-resource.min.js"></script>
  <script src="../static/xinziyuan/js/common.js"></script>
  <script src="../static/xinziyuan/backend.js"></script>
  <link rel="stylesheet" href="../static/xinziyuan/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../static/xinziyuan/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../static/xinziyuan/css/style.css">
  <link rel="stylesheet" href="../static/xinziyuan/css/overdiv.css">
  <link rel="shortcut icon" href="../static/xinziyuan/images/favicon.png" />
</head>

<body class="content-wrapper">
<div class="float_top">
  <button class="btn btn-inverse-info btn-sm" onclick="javascript:smoothscroll();"><i class="mdi mdi-format-vertical-align-top"></i> 返回顶部</button>
</div>

<div id="usermanage">
  <div class="page-header">
    <h1>试卷列表</h1>
  </div>

  <div class="card">
  <div class="card-body">
    <div class="form-group">
        <input class="form-control" type="text" id="search_question" placeholder="输入题干..." style='width: 500px;'>
      </div>
      <div>
        <button type="button" class="btn btn-gradient-success" id='search-button' onclick="searchQ()"> 搜索</button>
        <script>
          function searchQ() {
              var val = document.getElementById('search_question').value;
              window.location.href =  'http://localhost:5000/search_question?keyword=' + val;
          }
      </script>
    </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>题目类型</th>
        <th>题目编号</th>
        <th>题目描述</th>
        <th>答案</th>
        <th>分值</th>
        <th>难度</th>
        <th>选项1</th>
        <th>选项2</th>
        <th>选项3</th>
        <th>选项4</th>
        <th>分类</th>
        <th>操作</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for choice in choice_list %}
      <tr>
        <td>选择题</td>>
        <td>{{ choice.q_id }}</td >
        <td id='td_desc_{{choice.q_id}}'>{{ choice.q_description }}</td>
        <td id='td_ans_{{choice.q_id}}'>{{ choice.q_answer }}</td>
        <td id='td_value_{{choice.q_id}}'>{{ choice.q_value }}</td>
        <td id='td_diff_{{choice.q_id}}'>{{ choice.q_diff }}</td>
        <td id='td_A_{{choice.q_id}}'>{{ choice.q_A }}</td>
        <td id='td_B_{{choice.q_id}}'>{{ choice.q_B }}</td >
        <td id='td_C_{{choice.q_id}}'>{{ choice.q_C }}</td>
        <td id='td_D_{{choice.q_id}}'>{{ choice.q_D }}</td>
        <td id='td_type_{{choice.q_id}}'>{{ choice.q_type }}</td>
        <td><button class="btn btn-danger" id="choice-modify" onclick="showQ({{ choice.q_id }})">修改</button></td>
        <td><button class="btn btn-danger" id="choice-delete" onclick="deleteQ({{ choice.q_id }},1)">删除</button></td>
        <div class="modal fade" tabindex="-1" role="dialog" id="choice-modal-{{choice.q_id}}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">修改选择题</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class='needs-validation' novalidate id="choice-type">
                  <div class="form-group">
                    <label for="question">题目</label>
                    <input type="text" class="form-control" id="choice_q_{{choice.q_id}}" aria-describedby=""
                      placeholder="题目" required>
                  </div>
                  <div class="form-group">
                    <label for="score">分数</label>
                    <input type="text" class="form-control" id="choice_value_{{choice.q_id}}"  requiredpattern="[0-9]">
                  </div>
                  <div class="form-group">
                    <label for="ans">答案</label>
                    <input type="text" class="form-control" id="choice_ans_{{choice.q_id}}">
                  </div>
                  <div class="form-group">
                    <label for="optA">选项1</label>
                    <input type="text" class="form-control" id="q_A_{{choice.q_id}}">
                  </div>
                  <div class="form-group">
                    <label for="optB">选项2</label>
                    <input type="text" class="form-control" id="q_B_{{choice.q_id}}">
                  </div>
                  <div class="form-group">
                    <label for="optC">选项3</label>
                    <input type="text" class="form-control" id="q_C_{{choice.q_id}}">
                  </div>
                  <div class="form-group">
                    <label for="optD">选项4</label>
                    <input type="text" class="form-control" id="q_D_{{choice.q_id}}">
                  </div>
                  <div class="form-group">
                      <label for="diff">难度</label>
                      <input type="text" class="form-control" id="choice_diff_{{choice.q_id}}">
                  </div>
                  <div class="form-group">
                      <label for="diff">类别</label>
                      <input type="text" class="form-control" id="choice_type_{{choice.q_id}}">
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="modify_choice({{choice.q_id}})">确认修改</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>

  <div class="card">
    <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>题目类型</th>
          <th>题目编号</th>
          <th>题目描述</th>
          <th>答案</th>
          <th>分值</th>
          <th>难度</th>
          <th>分类</th>
          <th>操作</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for judge in judge_list %}
        <tr>
          <td>判断题</td>>
          <td>{{ judge.q_id }}</td>
          <td>{{ judge.q_description }}</td>
          <td>{{ judge.q_answer }}</td>
          <td>{{ judge.q_value }}</td>
          <td>{{ judge.q_diff }}</td>
          <td>{{ judge.q_type }}</td>
          <td><button class="btn btn-danger" >修改</button></td>
          <td><button class="btn btn-danger" id="judge-delete" onclick="deleteQ({{ judge.q_id }},2)" >删除</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    </div>

    <div class="card">
      <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>题目类型</th>
            <th>题目编号</th>
            <th>题目描述</th>
            <th>答案</th>
            <th>分值</th>
            <th>难度</th>
            <th>分类</th>
            <th>操作</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for subjective in subjective_list %}
          <tr>
            <td>简答题</td>>
            <td>{{ subjective.q_id }}</td>
            <td>{{ subjective.q_description }}</td>
            <td>{{ subjective.q_answer }}</td>
            <td>{{ subjective.q_value }}</td>
            <td>{{ subjective.q_diff }}</td>
            <td>{{ subjective.q_type }}</td>
            <td><button class="btn btn-danger" >修改</button></td>
            <td><button class="btn btn-danger" id="subj-delete" onclick="deleteQ({{ subjective.q_id }},3)" >删除</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      </div>
</div>

<!-- JavaScript files-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/popper.js/umd/popper.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
<script src="../static/vendor/jquery.cookie/jquery.cookie.js"></script>
<script src="../static/vendor/chart.js/Chart.min.js"></script>
<script src="../static/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="../static/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../static/js/charts-home.js"></script>
<!-- Main File-->
<script src="../static/js/front.js"></script>
<script src="../static/javascript/global.js"></script>

<script type="text/javascript" src="../static/javascript/admin.js"></script>

</body>
</html>